p {
    color: rgb(20, 136, 165);
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
h1,
h2,
h3,
h4{
    color: rgb(20, 136, 165);
    font-size: 30px;
    /* text-align: center; 设置<h1>元素内的文本居中对齐 */ 
}
li{
    color: rgb(20, 136, 165);
    width: 150px;
    border: 1px solid rgb(165, 229, 255);
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center; 
    background-color:#c1fddc;
}
html{
    font-size: 10px; 
    font-family: "Open Sans", sans-serif; /* 这应该是你从 Google Fonts 得到的其余输出,文字类型。 */
    background-color:rgb(216, 255, 255)
}
body {
  width: 1800px;
  margin: 0 auto;
  background-color:azure;
  padding: 0px 20px 20px 20px;
  border: 1px solid black;
}
img {
    display: block;
    margin: 0 auto;
}